/* Header Style */
header {
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: #7C2D48;
}

/* Styling Überschrift Bild */
#zunge {
  width: 25px;
}

/* Navigation fuer Webansicht */
@media only screen and ( min-width: 576px) {

/* Punkte weg machen bei ul und linksbündig */
ul {
   list-style-type: none;
   padding-left: 0;
}

/* Balken dünner machen */
#navi {
  padding: 0;
  margin: 0;
}
/* Background Farbe fürs Navi */
nav {
  background: #7C2D48;
}

nav ul {
  display: flex;
}

/* flex 1 -> flexgrow,flexshrink,flexbasis, damit die es in 4 Blöcken bleibt */
/* inline block -> damit die punkte verschwinden! */
nav li {
  display:inline-block;
  flex: 1;
  text-align: center;
}
/* Styling für den Hyperlink (Schrift) */
nav a {
  display:block;
  padding:10px;
  color:#fff;

}
/* Optische Hervorhebung des Hyperlinks */
nav a:hover {
  background:#6D273F;
}
}
  /* Navigation fuer mobile Ansicht */
@media only screen and (min-width: 320px) and ( max-width: 576px) {

/* Punkte weg machen bei ul und linksbündig */
ul {
     list-style-type: none;
     padding-left: 0;
  }

#navi {
  display: block;
  text-align: center;
  background: #7C2D48;
}
/* Optische Hervorhebung des Hyperlinks */
nav a:hover {
  background:#6D273F;
}
nav a {
  display:block;
  padding:10px;
  color:#fff;
  background: #7C2D48;
}
/* macht die Punkte weg */
nav li {
  display: block;
}
}

/* als Block damit der Footer ganz unten angezeigt wird */
/* flex grow flex shrink flex basis */
/* flex grow: Größe eines Containers bleibt gleich */
/* flex shrink: Container verlässt nicht den Gesamtcontainer und ist angepasst */
/* flex basis: 25% -> 4 a 3 Reihen */
main{
  display: block;
  flex: 1 0 auto;

}

/* Hindergrundfarbe der Seite */
/* margin verwendet, damit footer am rand bleibt */
/* flex benutzt & min height auf 100vh(viewport-höhe), für Footer */

body {
  background-color: #FFFFE0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}


/* Footer Style: Anordnung der Schrift */
/* damit der punkt weg geht */
/* dünner balken */

#footer {
  list-style:none;
  margin: 0;
  padding: 0;
}

/* Footer Style: Anordnung Balken, Farbe */
footer {
  background-color: #7C2D48;
  color: #fff;
  text-align: center;
}
/* Footer Style: optische Hervorhebung des Hyperlinks */
footer a:hover {
  background:#6D273F
}
/* Footer Style: Anordnung Schrift, Schriftfarbe */
footer a {
  display:block;
  padding: 10px;
  color:#fff;
  background: #7C2D48;
}

/* Block Erstellung: Vermeidung der Weiterleitung zum Impressum durch Druecken des Balken nur */
footer ul {
  display:inline-block;
}



/* Responsive Design fürs Gitter */

/* flex wrap: wrap -> damit die Items in unterschiedlichen Zeilen gehen */
/* space around -> für den abstand zwischen den items */
/* padding genutzt: Abstand vergrößern */
.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* flex grow flex shrink flex basis */
/* flex grow: Größe eines Containers bleibt gleich */
/* flex shrink: Container verlässt nicht den Gesamtcontainer und ist angepasst */
/* flex basis: 25% -> 4 a 3 Reihen */
.item {
  flex: 1 1 21%;
  text-align: center;
  padding: 10px;
}
/* Größe des Bildes */
.item img {
  width: 250px;
  height: 250px;
}
/* Hervorhebung des Bildes */
.item img:hover {
  color: black;
  border: 1px solid;
}

.textitem {
  padding-top: 10px;
}

/* Nutzung einer Media Query für Mobile Ansicht: Liste */

@media only screen and (min-width: 320px) and ( max-width: 576px) {

  /* Styling des Container (Text + Bild): padding für mehr platz */

  .listitem {
    padding: 10px 10px 10px 30px;
  }

/* Größe des Bildes im Container + Abstand zum Text unten */
  .listbild img {
  width: 300px;
  padding-bottom: 10px;
  }

}
/* Nutzung einer Media Query für Web Ansicht: Liste */

@media only screen and ( min-width: 576px) {
/* Größe des Bildes im Container:*/
.listbild img {
width: 300px;
}

  /* Styling des Container (Text): padding für mehr platz zwischen bild und text */
.listtext {
  padding: 10px 10px 10px 30px;
}
  /* Styling des Container (Text + Bild): Flex, Zeilenweise (damit Bild neben Text ist), padding für mehr platz */
.listitem {
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 30px;
}
}

/* Styling Ueberschrift Logo */
h1 {
  color: #7C2D48;
}

/* alle Links unterstrich weg */
a {
  text-decoration: none;
}


/* Styling fuer den Einleitungstext (Startseite) */
.Einleitung {
  text-align: justify;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 21px;
}


/* Styling fuers Impressum */
#impressum {
  text-align: center;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 50px;
  font-size: 21px;
}
/* Styling fuers Impressum: Rahmen */
#impressum td {
  padding-left: 20px;
}


/* Styling fuer Detailansicht -> Anordnung komplette Detailseite */
.detailansicht {

  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.detailansicht li {
  text-decoration: none;
  text-align: justify;
}

/* Styling fuer Detailansicht -> Anordnung Tabelle */
.detailtabelle td {
  padding-right: 20px;
  padding-left: 0;
}

/* Styling fuer Detailansicht -> Größe Bild */
.detailbild {
    width:300px;;
}

#naehrwerte {
  position: absolute;
}

#naehrwertbild {
 width: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #FFFFE0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/* ABSCHNITT: Styling des Sliders FÜR WEBANSICHT */

/* GesamtSliders (Wrapper): Initialiserung auf Unsichtbarkeit wegen Testfälle */
#slider {
  display: none;
  width: 100%;
}

/* Stacking der Elemente im Frame  ermöglichen mit position auf relative */
.sliderFrame {
  position: relative;
  padding-left: 100px;
  margin-bottom: 180px;
}

/* Stacking der Elemente insgesamt ermöglichen mit position auf absolute */
.sliderElementone{
  position: absolute;
}
.sliderElementtwo{
position: absolute;
}
.sliderElementthree{
position: absolute;
}

/* Stacking der Bilder ermöglichen mit position auf absolute */
.sliderElementone img {
  width: 100px;
  position: absolute;
  animation: fade 3s infinite;
}
.sliderElementtwo img {
  width: 100px;
  position: absolute;
  margin-left: 50px;
  animation: fade 3s infinite;
}
.sliderElementthree img {
  width: 100px;
  position: absolute;
  margin-left: 100px;
  animation: fade 3s infinite;
}

/* Stacking für den Titel ermöglichen mit position auf absolute */
.sliderElementone a {
  position: absolute;
}

/* Anordnung der Titel mit bestimmten Grö0enangaben */
.sliderElementone p {
  margin-top: 80px;
    animation: fade 3s infinite;
}
.sliderElementtwo p {
  margin-top: 80px;
  margin-left: 50px;
    animation: fade 3s infinite;
}
.sliderElementthree p {
  margin-top: 80px;
  margin-left: 100px;
    animation: fade 3s infinite;
}
/* Verwendung von Keyframes: Ändern der Deckkraft nach der Zeit */
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 1}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


/* ABSCHNITT: Styling des Sliders FÜR mobile Ansicht */

@media only screen and (min-width: 320px) and ( max-width: 576px) {

/* Zentrierung der Wrappers */
  #slider{
    justify-content: center;
  }

  .sliderElementone img {
      animation: fade 3s infinite;
  }

  .sliderElementone p {
      animation: fade 3s infinite;
  }
 /* Ausblendung des zweiten Arrays */
  .sliderElementtwo{
    display: none;
  }
/* Ausblendung des dritten Arrays */
  .sliderElementthree{
    display: none;
  }

}

/* Anpassng damit die Suche besser aussieht */
#suche {
  padding: 2px;
}

#rezeptname {
  margin: 2px;
}
