{
  "template"  : "template-html",
  "title"     : "Rezeptseite"
}

---

<!-- Name des Rezepts -->

<div class="detailansicht">
  <h1><b><em>So Tasty  </em></b>{{page.rezept.name}}</h1>

  <!-- Teaser -->

  <h2><q>{{page.rezept.teaser}}</q></h2>

  <!-- Einleitung -->

  {{page.rezept.einleitung}}

  <p>

  <!-- Rezeptbild -->


        <img src="/assets/bilder/{{page.rezept.bildname}}.png" alt="" class="detailbild">

        <p>


      <!-- Tabellarische Angabe weiterer Infos: Anzahl Portionen -->


        <u>Rezept für <b>{{page.rezept.portionen}}</b> Person(en)</u>

        <p>
          {{#each page.rezept.kategorien }}
          {{this}}
          {{/each}}
        </p>
        <p>
          {{#each page.rezept.tags }}
          <q>{{this}}</q>
          {{/each}}
        </p>



      <!-- Nähhrwerte mit Icon zum Einblenden! Siehe Css -->

        <b id="naehrwerte">Nährwerte:</b><br>
        <div class="dropdown">
          <img src="assets/bilder/naehrwert.png" alt="" id="naehrwertbild">
        <div class="dropdown-content">
          <ul>
            <li>Eiweiß: {{page.rezept.naehrwerte.Eiweiß}}%
            <br>
            <!-- <meter> Tag für den Balken -->
            <!-- min,max für Größe des Balken || low,high Grenzen für die Farben, optimum für grün -->
          <meter min="0" max="100" value="{{page.rezept.naehrwerte.Eiweiß}}" low="20" high="40" optimum="10"></meter>
        </li>
            <li>Fett: {{page.rezept.naehrwerte.Fett}}%
              <br>
            <meter min="0" max="100" value="{{page.rezept.naehrwerte.Fett}}" low="20" high="40" optimum="10"></meter>
          </li>
            <li>Kohlenhydrate: {{page.rezept.naehrwerte.Kohlenhydrate}}%
              <br>
            <meter min="0" max="100" value="{{page.rezept.naehrwerte.Kohlenhydrate}}" low="20" high="40" optimum="10"></meter>
          </li>
          </ul>
        </div>
      </div>



<p>
      <!-- Tabellarische Angabe weiterer Infos: Zutaten -->
      <table class="detailtabelle">
        <tr>
      <td>
        <b>Zutaten:</b>
        <ul>
          {{#each page.rezept.zutaten }}
          <li>{{ this.name }}</li>
          {{/each}}
        </ul>

      </td>
      <td>
        <b>Menge:</b>
        <ul>
          {{#each page.rezept.zutaten }}
          <li>{{ this.menge }}</li>
          {{/each}}
        </ul>
      </td>
      <td>
        <b>Einheit:</b>

        <ul>

          {{#each page.rezept.zutaten }}
          <li>{{ this.einheit }}</li>
          {{/each}}

        </ul>

      </td>
    </tr>
  </table>

  <!-- Zubereitungsanleitung als Fließtext -->

  <b>Und so funktionierts:</b>
  <br>

  {{ page.rezept.zubereitungstext }}

<!-- Hinzufügen von Portionen für die Einkaufsliste -->

<p>
<form method="GET" action="/form">
<input type="number" min="1" step="1" name="portionen" id="anzahlportionen">
Portionen zur Einkaufsliste
<input type="submit" value="hinzufügen">
</form>




  <!-- Tipp -->

  <p>
    <b>Tipp</b>: {{ page.rezept.tipp }}
  </p>

  {{ include "slider" }}

</div>
