{
  "title" : "Rezeptübersicht_Gitter",
  "template" : "template-html"
}
---

<!-- Link zum Wechseln zur Liste -->
<p>
  <a href="liste">Hier klicken für Rezeptübersicht als Liste</a>
  <p>
  <form method="GET" action="/form" id="suche">
    Rezept suchen:
    <input type="text" name="rezept" id="rezeptname" placeholder="Suchwort hier eingeben">
    <fieldset>
      In folgenden Daten suchen:
    <ul>
      <li>
        <label>
          <input type="checkbox" name="zutat" value="titel">
          Titel
        </label>
      </li>
      <li>
        <label>
           <input type="checkbox" name="zutat" value="tags">
           Tags
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="zutat" value="kategorie">
          Kategorie
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="zutat" value="zutaten">
          Zutaten
        </label>
      </li>
    </ul>
  </fieldset>
    <input type="submit" value="Rezepte finden!">
  </form>

    <!-- Nutzung eines Gesamtcontainers (flexcontainer) mit unterschiedlichen Containern (item) drinne
      fürs Responsive Design siehe main.css  -->
      <!-- <a> definiert einen Hyperlink -->
      <!-- <b> Hervorhebung -->
      <!-- <em> Kursiv -->

<!-- Gesamtcontainer, für Responsive Design siehe Stying im main.css -->
    <div class="flexcontainer">
<!-- Nutzung einer Schleife: durchläuft jedes Rezept in der global.json -->
{{#each page.rezeptuebersicht}}
<!-- Ein Rezept -->
<div class="item">
<!-- Verlinkung zur Detailseite -->
<a href="/{{this.bildname}}">
<!-- Rezeptbild -->
<img src="assets/bilder/{{this.bildname}}.png" alt="{{this.name}}">
<!-- Rezeptname -->
<div class="textitem">
  {{this.name}}
</div>

</a>
</div>
{{/each}}
    </div>
