{
  "title" : "Impressum",
  "template" : "template-html"
}
---

<!-- Verwendung einer Tabelle -->
<!-- <tr> Aufbau einer Zeile, <td> Inhalt einer Zeile -->
<!-- &nbsp; geschützes Leerzeichen für "Zeilenumbruch" -->

<p>
		<table id="impressum">
      <tr>
        <td><em>Anschrift von Herausgeber:</em></td>
        <td>Johann Beaumont Grigjanis</td>
        <td>Francis Pham</td>
      </tr><tr>
        <td></td>
        <td>Reesenbüttler Redder 23</td>
        <td>Rissener Straße 68</td>
      </tr><tr>
        <td></td>
        <td>22926 Ahrensburg</td>
        <td>22880 Wedel</td>
      </tr><tr>
        <td></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr><tr>
        <td></td>
        <td>tel 0171 6827821</td>
        <td>tel 0176 4646221</td>
      </tr><tr>
        <td></td>
        <!-- mailto: für Weiterleitung zum Emaildienst -->
        <td>  <a href="mailto:johann.beaumont@hotmail.de">johann.beaumont@hotmail.de</a></td>
        <td><a href="mailto:francis.pham@outlook.de">francis.pham@outlook.de</a></td>
      </tr>
    </table>
