{
  "title" : "Startseite",
  "template" : "template-html"
}
---

<!-- <em> Kursiv, <b> Hervorhebung, <div> Container = Abgrenzen eines Bereich -->

<div class="Einleitung">Willkommen bei <b><em>So Tasty</em></b>!

<p> Wenn du auf der Suche nach Rezepten für Studenten
  (also für den kleinen Geldbeutel) bist, aber nicht auf den guten Geschmack verzichten willst,
  dann wirst du unter unseren <b><em>So Tasty</em></b> Rezepten auf jeden Fall fündig werden.
  Der Schwierigkeitsgrad der Gerichte ist nicht zu hoch gesteckt.
  Denn auch bei <b><em>So Tasty</em></b> geht so einiges gerne mal schief ;) .
  Aber die Hauptsache ist doch, dass die Rezepte schmecken. </p>
</div>
