{
  "title" : "Rezeptübersicht_Liste",
  "template" : "template-html"
}
---
<!-- Link zum Wechseln zur Liste -->

<p>
  <a href ="gitter">Hier klicken für Rezeptübersicht als Gitter</a>
  <p>

<!-- Gesamtcontainer, für Responsive Design siehe Stying im main.css -->
    <div class="flexcontainerlist">
<!-- Nutzung einer Schleife: durchläuft jedes Rezept in der global.json -->
{{#each page.rezeptuebersicht}}

<div class="listitem">
<div class="listbild"><a href="/rezept/{{this.bildname}}"><img src="assets/bilder/{{this.bildname}}.png" alt="{{this.name}}">
</a>
</div>
    <div class="listtext">
<!-- Nutzung einer Schleife für Auflistung des Namen des Rezepts -->
        <b>{{this.name}}</b>
      <p>
        <!-- Nutzung einer Schleife für Auflistung des Teasers -->
        <q>{{this.teaser}}</q>
        <br>
        <!-- Nutzung von Schleifen für Auflistung von Tags -->
          {{#each this.tags}} <q>{{this}}</q> {{/each}}
          <br>
        <!-- Nutzung von Schleifen für Auflistung von Kategorien -->
        {{#each this.kategorien}} {{this}} {{/each}}
        <br>
      </p>
    </div>
  </div>

{{/each}}
</div>
