<!-- Link auf die Startseite, Angabe des Bilds (skaliert in css mit einer ID) -->
<!-- <a> definiert einen Hyperlink -->
<header>
  <a href="index"><h1>So Tasty <img src="assets/bilder/zunge.png" alt="" id="zunge">
  </h1></a>
</header>
