<!-- Sprache deutsch -->
<!-- meta charset: Zeichenkodierung -->
<!-- page.title: einfache,variable Angabe des Seitentitels -->
<!-- Verweis auf Nutzung der main.css als zugehörige Css Datei -->
<!DOCTYPE html>
<html lang="de">
<head>
 <meta charset="UTF-8">
 <title>{{ page.title }}</title>
<link rel="stylesheet" media="screen" href="assets/main.css" />
<script src="/assets/skripte/slider.js" defer></script>
</head>
