<!-- besteht aus einer unsortierten Liste (im CSS umgestylt) mit Link auf die angebenen Seiten -->
<!-- <a> definiert einen Hyperlink -->
<!-- <b> Hervorhebung -->
<nav>
   <ul id="navi">
      <li><a href="index"><b>Startseite</b></a></li>
      <li><a href="gitter"><b>Rezeptuebersicht</b></a></li>
      <li><a href="einkaufsliste"><b>Einkaufsliste</b></a></li>
      <li><a href="impressum"><b>Impressum</b></a></li>
  </ul>
</nav>
