{
"title": "slider"
}
---
<!-- Gesamtcontainer "slider" für allgemeine Sichtbarkeit -->

<div id="slider">

<!-- Rezeptbilder & Titel werden aus der global.json rausgeholt -->
  <div class= "sliderFrame">
    {{#each global.rezepte}}
<!-- Nutzung einer Schleife und Speicherung der Werte in einer Klasse als Element -->
<!-- Werte beinhalten: Bild + Titel in einem Paragraph -->
<!-- inklusive Verlinkung -->
    <div class= "sliderElementone">
      <a href="{{this.bildname}}">
      <img src="assets/bilder/{{this.bildname}}.png" alt="">
      <p>
      {{this.name}}
    </p>
    </a>
    </div>
    {{/each}}
  </div>

<!-- Rezeptbilder & Titel werden aus der global.json rausgeholt -->
    <div class= "sliderFrame">
      {{#each global.rezepte}}
<!-- Nutzung einer Schleife und Speicherung der Werte in einer Klasse als Element -->
<!-- Werte beinhalten: Bild + Titel in einem Paragraph -->
<!-- inklusive Verlinkung -->
      <div class= "sliderElementtwo">
        <a href="{{this.bildname}}">
        <img src="assets/bilder/{{this.bildname}}.png" alt="">
      <p>
      {{this.name}}
    </p>
    </a>
      </div>
      {{/each}}
      </div>

<!-- Rezeptbilder & Titel werden aus der global.json rausgeholt -->
      <div class= "sliderFrame">
        {{#each global.rezepte}}
<!-- Nutzung einer Schleife und Speicherung der Werte in einer Klasse als Element -->
<!-- Werte beinhalten: Bild + Titel in einem Paragraph -->
<!-- inklusive Verlinkung -->
        <div class= "sliderElementthree">
          <a href="{{this.bildname}}">
          <img src="assets/bilder/{{this.bildname}}.png" alt="">
        <p>
        {{this.name}}
      </p>
      </a>
        </div>
        {{/each}}
      </div>


    </div>
