<!-- Zusammenbringen alle Templates in diesem Dokument für Übersichtlichkeit -->
<!-- <main> als fließender Inhalt, Abgrenzung zum Footer -->

{{include "html-head"}}

<body>
    {{ include "header" }}
    {{ include "navigation" }}
    <main>
    {{ content}}
    </main>
  {{ include "footer" }}
</body>

</html>
